@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*body {
	background-color: #eee;
	background-image: url(../images/patterns/light_toast.png);
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin:0px;
	padding:0px;
}

a {
	color: #2e8598;
	text-decoration: none;
}

a:hover {
	color: #2e8598;
}
ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
#wrap {
	margin: 0 auto;
}

.inner {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 40px;
}

.relative {
	position: relative;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* HEADER */
/*#wrap > header {
	background-color: #333;
	padding-bottom: 20px;
}
.logo {
	display: inline-block;
	font-size: 0;
	padding-top:15px;
}
#navigation {
	position: absolute;
	right: 40px;
	bottom: 0px;
}*/

#menu-toggle {
	display: none;
	float: right;
}



@media all and (max-width: 700px) {

	#teste{
		display: none;
	}

	#navigation {
		position: static;
		margin-top: 20px;
	}

	#menu-toggle {
		display: block;
	}

	#main-menu {
		display: none;
		float: none;
	}

	#main-menu li {
		display: block;
		margin: 0;
		padding: 0;
	}

	#main-menu > li {
		
	}

	#main-menu > li:first-child {
		margin-top: 0;
	}
	.navbar .nav > li{
		float: none;
		text-align: center;
	}


	#main-menu > li > a {
		background-color: #2e8598;
		border: 1px solid #edca12;
		color: #bbb;
		display: block;
		font-size: 14px;
		
		padding: 0;
	padding: 5px !important;
    }


	#main-menu li > a:hover {
		background-color: #444; 
	}

    ul.nav li.dropdown a{
    			background-color: #2e8598;
		border: 1px solid #edca12;
		color: #bbb;
		display: block;
		font-size: 14px;
		
		padding: 0;
	padding: 5px !important;

    }




/*	

	#main-menu > li.parent {
		background: none !important;
		padding: 0;
	}

	#main-menu > li:hover > a,
	#main-menu > li.current-menu-item > a {
		border: 1px solid #444 !important;
		color: #fff !important;
	}

	ul.sub-menu {
		display: block;
		margin-top: -1px;
		margin-left: 20px;
		position: static;
		padding: 0;
		width: inherit;
	}

	ul.sub-menu > li:first-child {
		border-top: 1px solid #444 !important;
	}

	ul.sub-menu > li > a.parent {
		background: #333 !important;
	}*/
}
